@charset "utf-8";
/*navigation bar general properties*/

.navbar-default { /*background colour of navigation bar*/
	background-color: #212121;
	border-color: #212121;
}

/*changing the colour of the navigation buttons*/

.navbar-default .navbar-nav li a { /*text colour for buttons*/
    color: #ffffff;
}
.navbar-default .navbar-nav li a:hover { /*rollover background and text colour*/
   background-color: #424242;
   color: #ffffff;
}
.navbar-default .navbar-nav .active a { /*background and text colour of the active button*/
   background-color: #424242;
   color: #ff6800;
}
.navbar-default .navbar-nav .active a:hover { /* rollover background and text colour of the active button*/
   background-color: #424242;
   color: #ffffff;
}



body{
	background-color: #303030;
	color: #ffffff;
	font-family: "Arial Narrow", "Arial", sans-serif;
	font-size: 14px;
}

h1{
	display: inline;
}
h1.first{
	color: #FF6800;
	float: left;
}
h1.second{
	float: left;
}
h1.thispage{
	float: right;
}

p{
	text-align: justify;
}.break {
	padding-top: 20px;
}

#fern{
	transform: rotate(90deg);
	padding-top: 90px;
}
#flower{
	transition: rotate(180deg);
}
.panel{
	background-color: #424242;
	color: #ffffff;
}
.panel-heading{
	background-color: #212121;
	color: #ffffff;
}
.accordion.active{
	color: #ff6800;
}#accordion1 .panel.panel-default .panel-heading {
	background-color: #212121;
	color: #ffffff;
}
#accordion1 .panel.panel-default .panel-heading .active{
	background-color: #212121;
	color: #ff6800;
}
#accordion2 .panel.panel-default .panel-heading {
	background-color: #212121;
	color: #ffffff;
}
#accordion2 .panel.panel-default .panel-heading .active{
	background-color: #212121;
	color: #ff6800;
}
#camera{
	float: right;
}
.subtitle{
	color: #ff6800;
}
.quote{
	font-style: italic;
}
.contact{
	float: right;
}
#morealign{
	text-align: right;
}
img{
	padding-bottom: 10px;
}